*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

.hero{
height:100vh;

/* BACKGROUND IMAGE */

background-image:url("https://images.unsplash.com/photo-1509042239860-f550ce710b93");

background-size:cover;
background-position:center;
background-repeat:no-repeat;

position:relative;
color:white;
}

/* dark overlay */

.hero::before{
content:"";
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.5);
}

.navbar{
position:absolute;
top:0;
width:100%;
display:flex;
justify-content:space-between;
align-items:center;
padding:30px 80px;
z-index:2;
}

.logo{
font-size:40px;
font-weight:bold;
}

.nav-links{
display:flex;
list-style:none;
gap:30px;
}

.nav-links a{
text-decoration:none;
color:white;
font-size:18px;
}

.active{
color:#d4a762;
}

/* CENTER TEXT */

.hero-text{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
text-align:center;
z-index:2;
}

.small-text{
color:#d4a762;
font-size:28px;
margin-bottom:10px;
}

.hero-text h1{
font-size:120px;
font-weight:bold;
}

.since{
font-size:28px;
margin-top:10px;
}