*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

.hero{
position:relative;
height:100vh;
overflow:hidden;
color:white;
}

/* IMAGE SLIDER */

.slider{
display:flex;
width:200%;
height:100%;
animation:slide 2s infinite;
}

.slider img{
width:50%;
height:100vh;
object-fit:cover;
}

/* SLIDE ANIMATION */

@keyframes slide{

0%{
transform:translateX(0);
}

50%{
transform:translateX(-50%);
}

100%{
transform:translateX(0);
}

}

/* NAVBAR */

.navbar{
position:absolute;
top:0;
width:100%;
display:flex;
justify-content:space-between;
padding:30px 80px;
z-index:2;
}

.logo{
font-size:40px;
font-weight:bold;
}

.nav-links{
display:flex;
gap:30px;
list-style:none;
}

.nav-links a{
text-decoration:none;
color:white;
font-size:18px;
}

.active{
color:#d4a762;
}

/* HERO TEXT */

.hero-text{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
text-align:center;
z-index:2;
}

.small-text{
color:#d4a762;
font-size:28px;
}

.hero-text h1{
font-size:110px;
}

.since{
font-size:28px;
margin-top:10px;
}